apiVersion: apps/v1
kind: Deployment
metadata: 
  name: studentapp
  labels:
    app: studentapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: studentapp
  template:
    metadata:
      labels:
        app: studentapp
    spec:
      containers:
        - name: studentapp
          image: 753093280022.dkr.ecr.ap-northeast-1.amazonaws.com/student-app:${BUILD_NUMBER}
          ports: 
            - containerPort: 8080
            
